.waypointList {
  list-style: none;
  padding: 0;
}

.waypoint {
  color: white;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;

  &.beingDragged {
    -webkit-grabbing: '-webkit-grab';
    position: absolute;
    z-index: 2;
  }
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-left: 15px;
}

.icon {
  width: 25px;
  height: 25px;
  color: #747474;
}

.bars {
  display: inline-block;
  cursor: move;
}

.title,
.icon {
  display: inline-block;
  vertical-align: middle;
}

.trash {
  float: right;
  background: 0;
  border: 0;
  cursor: pointer;

  &:hover .icon {
    color: #ff4545;
  }
}
